@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    scroll-snap-type: mandatory y;
    scroll-behavior: smooth;
}

section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

body,html{
    overflow-x: hidden;
    padding: 0;
    margin:0;
}

:root {
}


